table {
    width: 500px;
    border-collapse: collapse;
}
 
td {
    border: 1px solid black;
}
 
td:nth-child(even) {
    background-color: #E4FFB7;
}
 
td:nth-child(odd) {
    background-color: #EFFFD2;
}
 

.header {
	border: 1px solid black;
   text-align: center;
   background-color: #80B327;
   color: white;
}